* {
    padding:0;
    margin:0 ;
    box-sizing: border-box;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

nav{
    background-color: #000;
    position: fixed;
    width: 100%;
}

nav a{
    color: orange;
    text-decoration: none;
    font-size: 20px;
}
    



nav li{
    list-style-type: none;
    margin: 20px;
}

.section1, .section2, .section3, .section4 {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 {
    background-image:url(images/Niagra.webp) ;
}

.section2 {
    background-image:url(images/Grand-Canyon.webp) ;
    background-attachment: fixed;
}

.section3 {
    background-image:url(images/mount-everest.jpg) ;
}

.section4 {
    background-image:url(images/National-Park.webp) ;
    background-attachment: fixed;
}